.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  width: 100%;
}

.button {
  display: flex;
  margin: 0 auto 80px auto;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}
