.container {
  background: var(--background);
  border-radius: var(--common-border-radius-s);
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: var(--common-transition);
}

.container:hover {
  opacity: 0.8;
}

.container:focus {
  opacity: 0.8;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.number::before {
  content: "#";
}

.lineIcon {
  margin-right: -20px;
}
