.header {
  background: #1c1c21;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88px;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 4%), 0 4px 8px 0 rgb(0 0 0 / 4%),
    0 16px 24px 0 rgb(0 0 0 / 4%), 0 24px 32px 0 rgb(0 0 0 / 4%);
}

.nav {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.link_active {
  color: #fff;
}
